a {
  text-decoration: none;
  color: black;
}
.featured-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px auto;
    width: 100%;
    max-width: 1200px; /* Optional: Set a max width for the content */
   
}

.featured-products-header  {
  font-size: 24px;
  margin-bottom: 20px;
  justify-content: center;
}

.featured-products-header h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.featured-products .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}
.featured-products .product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.featured-products .product-card img {
    width: 200px;         /* Set your desired width */
    height: 130px;        /* Set your desired height for landscape */
    object-fit: cover;    /* Crop and scale the image to fill the box */
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}
.featured-products .product-card h4 {
    font-size: 18px;
    margin: 10px 0;
}
.featured-products .product-card p {
    font-size: 16px;
    color: #555;
}
.featured-products .product-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}